body {
	display: flex;
	flex-direction: column;
	margin: 0;
	margin-bottom: 1.875rem;
	background-color: #f7f6f6;
	font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif
}

h2 {
	margin: 0;
	font-size: 12px
}

h3 {
	margin: 0.3125rem;
}

a {
	color: #000;
	text-decoration: none
}

input {
	outline: 0
}

button {
	margin: 0;
	padding: 0;
	border: 0;
	background: 0;
	font-size: 100%;
	vertical-align: baseline;
	font-family: inherit;
	font-weight: inherit;
	color: inherit;
	outline: 0
}

ul {
	padding: 0;
	margin: 0;
	list-style: none
}

.page-top {
	width: 100%;
	background-color: #FFFFFF;
}

.page-content {
	width: 50%;
	margin: 0 auto;
	text-align: center;
}

.page-content p {
	font-size: 0.875rem;
	font-weight: 600;
	color: #ff7903;
	margin: 0.3125rem 0;
}

.main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	margin: 0 auto;
	box-sizing: border-box
}

.task-input {
	width: 96%;
	font-size: 1rem;
	align-self: center;
	height: 2rem;
	outline: 0;
	border-radius: 7px;
	border: 1px solid #ccc
}

.task-clear {
	flex: 1;
	width: 3.625rem;
	height: 2.25rem;
	color: #ff3b00;
	font-size: 0.875rem;
	padding: 0.3125rem 0;
	background-color: #f7f6f6;
	border: none;
	cursor: pointer;
}

.task-clear:active {
	border: 2px solid rgba(253, 93, 29, 0.78);
}

.task-count {
	display: flex;
	flex-direction: row;
	margin: 10px 0;
	font-size: 0.875rem;
	justify-content: center;
}

.task-count li {
	flex: 1;
	padding-left: 10px;
	color: #dd4b39
}

.task-count li:nth-child(1) {
	padding: 5px 0 0 10px
}

.action {
	text-align: center;
	display: flex
}

.action a {
	width: 3.625rem;
	flex: 1;
	padding: 5px 0;
	color: #777
}

.action a:nth-child(3) {
	margin-right: 0
}

.active {
	border: 2px solid rgba(253, 93, 29, 0.78)
}

.tasks {
	flex: 1;
	width: 98%;
	font-size: 1rem;
	align-self: center;
	background-color: #fff;
}

.no-task-tip {
	padding: 10px 0 10px 10px;
	display: block;
	border-bottom: 1px solid #ededed;
	color: #777
}

.big-title {
	color: #222
}

.todo-list {
	margin: 0;
	padding: 0;
	list-style: none;
	-moz-box-shadow: 4px 1px 13px #C7C7C7;
	-webkit-box-shadow: 4px 1px 13px #C7C7C7;
	box-shadow: 4px 1px 13px #C7C7C7;
}

.todo-list li {
	position: relative;
	font-size: 14px;
	border-bottom: 1px solid #ededed
}

.todo-list li:hover {
	background-color: #fafafa
}

.todo-list li.editing {
	border-bottom: 0;
	padding: 0
}

.todo-list li.editing .edit {
	display: block;
	width: 506px;
	padding: 13px 17px 12px 17px;
	margin: 0 0 0 43px
}

.todo-list li.editing .view {
	display: none;
}

.todo-list li .toggle {
	text-align: center;
	width: 1.75rem;
	height: 1.75rem;
	position: absolute;
	top: 5px;
	bottom: 0;
	border: 0;
	-webkit-appearance: none;
	appearance: none
	display: block;
	background: rgba(253, 137, 20, 0.8);
	border-radius: 2.25rem;
}


.toggle:after {
	content: "";
}

.toggle:checked:after {
	content: "\2714";
	text-align: center;
	justify-content: center;
	font-size:1.125rem;
	color: white;
}

.todo-list li label {
	margin-top: 0.3125rem;
	white-space: pre-line;
	word-break: break-all;
	padding: 10px 50px 10px 15px;
	margin-left: 45px;
	display: block;
	line-height: 1.2;
	font-size: 1rem;
	transition: color .4s;
}

.todo-list li.completed label {
	color: #d9d9d9;
	text-decoration: line-through
}

.todo-list li .destroy {
	display: none;
	position: absolute;
	top: 0;
	right: 10px;
	bottom: 0;
	width: 40px;
	height: 40px;
	font-size: 30px;
	color: #cc9a9a;
	margin-bottom: 11px;
	transition: color .2s ease-out
}

.todo-list li .destroy:hover {
	color: #af5b5e
}

.todo-list li .destroy:after {
	content: '×'
}

.todo-list li:hover .destroy {
	display: block
}

.todo-list li .edit {
	display: none
}

.todo-list li.editing:last-child {
	margin-bottom: -1px
}
